In [19]:
from backtesting import Backtest, Strategy
import pandas as pd

In [20]:
class MeanReversionStrategy(Strategy):

    n1 = 240
    tp = 25

    def init(self):
        close_prices = self.data.Close
        self.lowest_n1 = self.I(lambda x: pd.DataFrame(x).rolling(self.n1).min(), close_prices)

    def next(self):
        low_value = self.lowest_n1[-1]
        if self.data.Close[-1] <= low_value * 1.1:
            self.buy(sl=self.data.Close[-1] * 0.8, tp=self.data.Close[-1] * ((self.tp/100)+1))

In [21]:
data = pd.read_csv("stock_market_data-AAPL.csv")
data.columns = [column.capitalize() for column in data.columns]
data.dropna()

      Unnamed: 0        Date     Low     High   Close     Open
0           6168  2024-05-08  181.45  183.070  182.74  182.850
1           6167  2024-05-07  181.32  184.900  182.40  183.450
2           6166  2024-05-06  180.42  184.200  181.71  182.354
3           6165  2024-05-03  182.66  187.000  183.38  186.645
4           6164  2024-05-02  170.89  173.415  173.03  172.510
...          ...         ...     ...      ...     ...      ...
6164           4  1999-11-05   84.00   88.370   88.31   84.620
6165           3  1999-11-04   80.62   85.370   83.62   82.060
6166           2  1999-11-03   81.00   83.250   81.50   81.620
6167           1  1999-11-02   77.31   81.690   80.25   78.000
6168           0  1999-11-01   77.37   80.690   77.62   80.000

[6169 rows x 6 columns]

In [23]:
bt = Backtest(data, MeanReversionStrategy, cash=10000000)
stats = bt.optimize(maximize='Equity Final [$]', n1=range(24, 480, 10), tp=range(5,35,5))

/var/folders/ld/cmlp53c53tb76qnkpsp2t_mh0000gn/T/ipykernel_14034/4070983436.py:1: UserWarning: Data index is not datetime. Assuming simple periods, but `pd.DateTimeIndex` is advised.
  bt = Backtest(data, MeanReversionStrategy, cash=10000000)
/Users/andrewwen/Desktop/backtesting/venv/lib/python3.10/site-packages/backtesting/backtesting.py:1375: UserWarning: For multiprocessing support in `Backtest.optimize()` set multiprocessing start method to 'fork'.
  warnings.warn("For multiprocessing support in `Backtest.optimize()` "

In [24]:
stats

Start                                     0.0
End                                    6168.0
Duration                               6168.0
Exposure Time [%]                    50.91587
Equity Final [$]                 47350819.248
Equity Peak [$]                 249969436.168
Return [%]                         373.508192
Buy & Hold Return [%]              -57.524352
Return (Ann.) [%]                         0.0
Volatility (Ann.) [%]                     NaN
Sharpe Ratio                              NaN
Sortino Ratio                             NaN
Calmar Ratio                              0.0
Max. Drawdown [%]                  -90.218911
Avg. Drawdown [%]                   -9.382666
Max. Drawdown Duration                 3072.0
Avg. Drawdown Duration              159.37037
# Trades                                 42.0
Win Rate [%]                        28.571429
Best Trade [%]                      533.12226
Worst Trade [%]                    -27.302677
Avg. Trade [%]                       3.781713
Max. Trade Duration                     571.0
Avg. Trade Duration                 92.238095
Profit Factor                        2.720644
Expectancy [%]                      21.924381
SQN                                  0.158253
_strategy                 MeanReversionStr...
_equity_curve                         Equi...
_trades                          Size  Ent...
dtype: object